#not-yet-overlay-box {
    position: fixed;
    width: 500px;
    height: 200px;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -250px;
    text-align: center;
    z-index: 10001;
}

#not-yet-overlay {
    background-color: rgba(255,255,255,0.5);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 10000;
}

body {
    /* background: white; */
    background: #f1f2f2;
    color: #58595b;
    padding: 75px 0 0 0;
    margin: 0;
    font-family: Lato,"Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    font-weight: normal;
    font-style: normal;
    line-height: 150%;
    position: relative;
    cursor: default;
    letter-spacing: -0.03em;
}

.not-yet {
    opacity: 0.5;
    filter: blur(20px);
    -webkit-filter: blur(20px);
    -moz-filter: blur(20px);
    -o-filter: blur(20px);
    -ms-filter: blur(20px);
}

body.overflow-hidden {
    overflow: hidden;
}

body.meet-king {
    background: #ffffff;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    /* box-sizing: border-box; */
}

a {
    color: #0babe3;
    text-decoration: none;
    line-height: inherit;
}

a:hover, a:focus {
    color: #d71920;
}

div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}

ul, ol, dl {
    font-size: 1.1rem;
    line-height: 1.8rem;
    margin-bottom: 1.25rem;
    list-style-position: outside;
    font-family: Lato,sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Oswald,"Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-style: normal;
    color: #d71920;
    text-rendering: optimizeLegibility;
    margin-top: 0.2rem;
    margin-bottom: 1rem;
    line-height: 1.2;
    letter-spacing: 0;
}

p {
    font-family: inherit;
    font-weight: normal;
    font-size: 1.1rem;
    line-height: 1.8rem;
    margin-bottom: 1.25rem;
    text-rendering: optimizeLegibility;
}

img {
    max-width: 100%;
    height: auto;
}

blockquote {
    margin: 1.5em 0;
    padding: 1em 0;
}

/* screen size-dependent general elements */
@media only screen and (min-width: 40.063em) {
    h1, h2, h3, h4, h5, h6 {
        line-height: 1.2;
    }
    
    h1 {
        font-size: 2.3125rem;
    }
}

@media only screen and (max-width: 40.063em) {
    h3 {
        font-size: 1.4375rem;
    }

    p {
        font-size: 1rem;
        line-height: 1.4em;
    }
}

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea {
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    background-color: rgba(255,255,255,.25);
    font-family: inherit;
    border: 2px solid rgba(0,0,0,0.2);
    color: rgba(0, 0, 0, 0.75);
    display: block;
    font-size: 0.875rem;
    margin: 0 0 0.875rem 0;
    padding: 0.5rem;
    height: 2.3125rem;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
}

.button, button {
    padding: 0.4em 0.6em;
    border: none;
    line-height: 1.2em;
    font-family: 'Lato';
    font-size: 1rem;
    display: inline-block;
    overflow: hidden;
    width: auto;
    color: #fff;
    background-color: #d71920;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: -40px 0px;
    text-decoration: none;
    border-bottom: none;
    border-radius: 3px;
    cursor: pointer;
}

.button:hover, ul.share-buttons a:hover {
    background: #b11116;
}

#header {
    height: 75px;
    background: #fff;
    background-size: cover;
    border-bottom: 5px solid #d71920;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}

#header .row {
    height: 70px;
}

.row {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 75em;
}

.row:after {
    clear: both;
}

.row:before, .row:after {
    content: " ";
    display: table;
}

#header ul {
    margin: 0;
}

.header-social {
    list-style: none;
    vertical-align: middle;
    display: inline-block;
    position: relative;
    top: -2px;
    margin-right: 0.5em!important;
}

.header-social .facebook, .header-social .twitter {
    /* background-color: #a7a9ac; */
}

.header-social img {
    width: 30px;
    height: 30px;
}

@media only screen and (max-width: 940px) {
    .header-social {
        display: none;
    }
}

#header .left-side {
    padding-left: 0;
    padding-right: 0;
    position: relative;
    width: 41.6667%;
}

#header .left-side ul li {
    width: 33.33%;
    list-style: none;
    float: left;
}

#header .left-side ul li .wrapper p {
    margin: 0;
    font-size: 1em;
    line-height: 1.2em;
    font-weight: 900;
    text-align: center;
}

#header .left-side a:hover>li {
    background-color:rgba(0,0,0,0.05)
}

#header .right-side {
    text-align: right;
    padding-right: 90px;
    padding-left: 0;
    position: relative;
    width: 41.6667%;
    padding-top: 4px;
}

@media only screen and (max-width: 730px) {
    #header .left-side, #header .right-side {
        width: 38%;
    }
}

@media only screen and (max-width: 500px) {
    #header .left-side, #header .right-side {
        width: 35%;
    }
}

#header .wrapper {
    height: 70px;
    width: 600px;
    display: table-cell;
    vertical-align: middle;
}

@media only screen and (max-width: 730px) {
    .mobile-hide {
        display: none;
    }
}

@media only screen and (min-width: 730px) {
    .mobile-show {
      display: none!important;
    }
}

.text-center {
    text-align: center !important;
}

#header a {
    border-bottom: none;
    color: #d71920;
}

#header .left-side ul li {
    width: 33.33%;
    list-style: none;
    float: left;
}

#header .right-side a {
    margin: 0 0.4em;
    font-weight: 900;
    font-size: 1.1em;
}

#header .home-link div {
    background-color: #d71920;
}

#header .home-link:hover div {
    background-color: #b11116;
}

#header a.volunteer:hover {
    color: #b11116;
}

#header a.donate {
    background-color: #6ebf52;
    color: #fff;
    padding: 0.3em 0.5em;
    border-radius: 3px;
    font-size: 1.1em;
    font-weight: 900;
}

#header a.donate:hover {
    background-color: #b11116;
}

#header a.lang-switch {
    color: #58595c;
    font-size: 0.8em;
    font-weight: 700;
    text-transform: uppercase;
    position: absolute;
    right: 45px;
    top: 0;
    height: 100%;
    width: 45px;
    margin: 0;
    padding-top: 23px;
    text-align: center;
}

#header a.lang-switch:hover {
    color: #a7a9ac;
}

#header .middle {
    height: 100%;
    text-align: center;
    padding: 1em 1em 0;
    position: relative;
    width: 16.6667%;
}

@media only screen and (max-width: 730px) {
    #header .middle {
        width: 22%;
    }
}

@media only screen and (max-width: 500px) {
    #header .middle {
        width: 28%;
    }
}

/* navigation */
.primary-nav {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    padding-top: 75px;
    background-color: rgba(255,255,255,0.95);
    z-index: 999;
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    transition-duration: 0.4s;
    overflow: scroll;
}

.primary-nav.is-visible {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    /* transform: translateY(0); */
}

.primary-nav ul {
    list-style: none;
    margin-left: 0;
    margin-bottom: 2em;
}

.primary-nav ul li {
    font-family: Oswald;
    text-transform: uppercase;
    color: #a7a9ac;
    font-size: 0.8em;
    line-height: 1.1em;
    margin-bottom: 1em;
}

.primary-nav ul ul li {
    font-family: Lato;
    margin-bottom: 0.6em;
    text-transform: none;
    font-size: 1.3em;
    font-weight: 900;
    letter-spacing: -0.03em;
}

.primary-nav ul ul li a {
    color: #d71920;
    border: none;
}

.primary-nav ul ul li a:hover {
    color: #4b5766;
    margin-left: 0.2em;
}

.nav-wrapper {
    width: 100vw;
    height: 70vh;
    padding: 5rem 0;
}

/* nav button */
.primary-nav-trigger {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 45px;
    margin: 0!important;
}

.primary-nav-trigger .menu-icon.is-clicked {
    background-color: rgba(255, 255, 255, 0);
}

.primary-nav-trigger .menu-icon {
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    cursor: pointer;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 18px;
    height: 3px;
    background-color: #58595c;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

.primary-nav-trigger .menu-icon::before, .primary-nav-trigger .menu-icon:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #58595c;
    right: 0;
    -webkit-transition: -webkit-transform .3s, top .3s, background-color 0s;
    -moz-transition: -moz-transform .3s, top .3s, background-color 0s;
    transition: transform .3s, top .3s, background-color 0s;
}

.primary-nav-trigger .menu-icon::before {
    top: -6px;
}

.primary-nav-trigger .menu-icon::after {
    top: 6px;
}

.primary-nav-trigger .menu-icon.is-clicked::before, .primary-nav-trigger .menu-icon.is-clicked::after {
    background-color: #d71920;
}

.primary-nav-trigger .menu-icon.is-clicked::before {
    top: 0;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

.primary-nav-trigger .menu-icon.is-clicked::after {
    top: 0;
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    -o-transform: rotate(225deg);
    transform: rotate(225deg);
}

/* columns */
.column, .columns {
    position: relative;
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    float: left;
}

.column, .columns {
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    width: 100%;
    float: left;
}

.column.small-centered, .columns.small-centered {
    margin-left: auto;
    margin-right: auto;
    float: none;
}

@media only screen and (min-width: 40.063em) {
    .column, .columns {
        position: relative;
        padding-left: 0.9375em;
        padding-right: 0.9375em;
        float: left;
    }
    
    .medium-4 {
        width: 33.33333%;
    }
    
    .medium-5 {
       width: 41.66667%;
    }
    
    .medium-6 {
        width: 50%;
    }
    
    .medium-7 {
        width: 58.33333%;
    }
    
    .pull-5 {
       position: relative;
        right: 41.66667%;
        left: auto;
    }

    .push-8 {
        position: relative;
        left: 66.66667%;
        right: auto;
    }
}

@media only screen and (min-width: 64.063em) {
    .column, .columns {
        position: relative;
        padding-left: 1em;
        padding-right: 1em;
        float: left;
    }
      
    .large-3 {
        width: 25%;
    }
    
    .pull-5 {
        position: relative;
        right: 41.66667%;
        left: auto;
    }
    
    .push-8 {
        position: relative;
        left: 66.66667%;
        right: auto;
    }
}

.main-content-wrapper {
    background: white;
    padding: 0 75px 3em;
}

@media only screen and (max-width: 50.063em) {
    .main-content-wrapper {
        padding: 0 20px 2em;
    }
}

.content-wrapper {
    background-color: #fff;
    padding: 2em 1em 4em;
}

/* banner */
.banner-image {
    min-height: 400px;
    background-image: url('/images/king-hero.jpg');
    background-position: top right;
    background-size: cover;
}

@media only screen and (max-width: 500px) {
    .banner-image {
        /* background-position-x: 40em; */
    }
}

#banner-wrapper {
    /* background-color: #ffffff; */
    padding: 22px;
    /* margin: 25px auto 0 auto; */
    /* border-radius: 4px; */
    position: relative;
    top: 3em;
    /* box-shadow: 2px 5px 60px 0px rgba(0, 0, 0, 1); */
    max-width: 529px;
    text-align: center;
}

@media only screen and (max-width: 500px) {
    #banner-wrapper {
        top: 5em;
    }
}

/* Open Movement in Flavelle */
#banner-wrapper h1 {
    text-transform: uppercase;
    font-family: oswald;
    font-size: 3rem;
    line-height: 1.2;
    cursor: default;
    letter-spacing: 0;
    color: #ffffff;
    text-align: center;
    padding: 0.2em;
    /* margin: 0 0 0.5em; */
    margin: 0;
    font-weight: 400;
    text-shadow: 2px 5px 60px rgba(0, 0, 0, 1);
}

/* Be a part of the most... */
#banner-wrapper h1:first-of-type {
    font-weight: 300;
    font-size: 2.3rem;
}

@media only screen and (max-width: 500px) {
    #banner-wrapper h1 {
        font-size: 2.5rem;
    }
    
    #banner-wrapper h1:first-of-type {
        font-size: 1.8rem;
    }
}

#stand-with-king {
    margin: 1.25rem;
}

.content-button {
    margin: 0;
    font-size: 1.1rem;
    font-weight: 900;
    font-family: Lato;
    background: #d71920;
    color: #fff !important;
    border: 2px solid #d71920 !important;
    letter-spacing: -0.02em;
    padding: 0.4em 0.6em;
    border-radius: 3px;
    border-color: #fff;
    display: inline-block;
}

.content-button:hover {
    background: none;
    border: 2px solid #d71920 !important;
    text-shadow: 0px 0px;
}

/* news feed */
.home-news-feed {
    margin-top: 75px;
}

.home-news-feed .news-item {
    margin-top: 50px;
    margin-bottom: 50px;
}

.news-item h3 {
    font-size: 2em;
    font-family: Lato;
    text-transform: none;
    font-weight: 900!important;
    color: #d71920;
    line-height: 1.0em;
    margin-bottom: 0.2em;
}

.news-item p {
    font-size: 1.1em;
    line-height: 1.4em;
    margin: 0.6em 0 0.1em;
}

.news-item .text-link {
    color: #0babe3;
    font-size: 0.8em;
    text-transform: uppercase;
    border: none;
}

/* sidebar */
.sidebar-block {
    margin-top: 75px;
    text-align: center;
}

.news-item h4, .sidebar-block h4 {
    font-family: Oswald;
    text-transform: uppercase;
    color: #a7a9ac;
    font-size: 0.9em;
    letter-spacing: 0;
    margin-bottom: 0.4em;
}

.bromide p {
    font-size: 22px;
    line-height: 1em;
    font-weight: 900;
    color: #6F6F6F;
}

.bromide p span {
    color: #d71920;
    display: block;
    padding-top: 0.5em;
    font-size: 0.8em;
    text-transform: uppercase;
}

/* sidebar donate */
.donate-block {
    border: 10px solid #f1f2f2;
    text-align: left;
    padding: 1.25em;
}

.donate-block header {
    margin-bottom: 1em;
    border-bottom: 3px solid #f1f1f1;
}

.donate-block header h2 {
    margin-bottom: 0.5rem;
    font-weight: 400 !important;
    background: #d71920;
    display: inline;
    color: #fff;
    padding: 0 0.4em 0.05em;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
}

.donate-block header p {
    font-size: 0.9em;
    line-height: 1.3;
    background: #f1f1f1;
    display: inline;
    color: #3f2e0a;
    padding: 0 0.4em 0.05em;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
    background: none;
    display: block;
    padding: 0;
    margin-top: 1em;
}

.donate-block .button {
    margin-bottom: 0;
    font-weight: 900;
    font-size: 1.2rem;
    border: 2px solid #d71920;
    background: none;
    color: #d71920;
}

.donate-block .button:hover {
    background: #d71920;
    border: 2px solid #d71920;
    color: #fff;
}

.donate-block .donor-logo {
    margin: 0 auto 1em;
    display: block;
    max-width: 300px;
    width: 100%;
}

/* footer */
footer {
    background-color: #ffffff;
}

#new-day-for-flavelle {
    background: #58595c;
    font-size: 0.8em;
    color: #d1d3d4;
    line-height: 1.3em;
    padding: 20px 0;
    width: 100%;
    /* margin-top: 0.2em; */
}

#new-day-for-flavelle > .row {
    max-width: 1200px;
}

.text-left {
    text-align: left !important;
}

@media only screen and (max-width: 40em) {
    .small-only-text-center {
        text-align: center !important;
    }
}

@media only screen and (min-width: 40.063em) {
    .medium-2 {
        width: 16.66667%;
    }
    
    .medium-8 {
        width: 66.66667%;
    }
}

@media only screen and (min-width: 64.063em) {
    .column.large-centered, .columns.large-centered {
        margin-left: auto;
        margin-right: auto;
        float: none;
    }
    
    .large-6 {
        width: 50%;
    }
    
    .large-8 {
        width: 66.66667%;
    }
}

#new-day-for-flavelle .logo {
    width: 150px;
    max-width: 100%;
    margin-right: 15px;
    margin-bottom: 10px;
}

#new-day-for-flavelle a {
    color: #fff;
    border-bottom: none;
}

#new-day-for-flavelle a:hover {
    color: #a7a9ac;
}

/* Meet HM King */
.king-banner {
    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 170px;
    padding-bottom: 170px;
    position: relative;
    background-image: url('http://kkl.soundllp.com/images/meet-king-flavelle-1.jpg');
}

@media (max-width: 768px) {
    .king-banner {
        padding-top: 50px;
        padding-bottom: 50px;
        background-attachment: scroll;
    }
}

.king-banner h1 {
    font-family: "utopia-std-display", Georgia, sans-serif;
    font-weight: 700;
    font-size: 64px;
    color: white;
    line-height: 1.2;
}

.king-banner h1 span {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 900;
    letter-spacing: 2px;
    padding-bottom: 3px;
    display: block;
}

.overlay-dark {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.background-gradient-dark, .overlay-dark {
    background: -moz-linear-gradient(top, rgba(34, 34, 34, 0.2) 0%, rgba(34, 34, 34, 0.5) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(34, 34, 34, 0.2)), color-stop(100%, rgba(34, 34, 34, 0.45)));
    background: -webkit-linear-gradient(top, rgba(34, 34, 34, 0.2) 0%, rgba(34, 34, 34, 0.5) 100%);
    background: -o-linear-gradient(top, rgba(34, 34, 34, 0.2) 0%, rgba(34, 34, 34, 0.5) 100%);
    background: -ms-linear-gradient(top, rgba(34, 34, 34, 0.2) 0%, rgba(34, 34, 34, 0.5) 100%);
    background: linear-gradient(to bottom, rgba(34, 34, 34, 0.2) 0%, rgba(34, 34, 34, 0.5) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#a6000000',GradientType=0);
}

.content-block {
    z-index: 2;
    position: relative;
}

.king-banner .white-line {
    margin: 15px auto;
    width: 0;
}

.white-line {
    width: 100px;
    border-top: solid 5px white;
    margin-top: 15px;
    margin-bottom: 15px;
}

.king-banner ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 50px;
}

.king-banner ul li {
    margin-right: 20px;
    display: inline-block;
}

.king-banner ul li:last-child {
    margin-right: 0;
}

@media (max-width: 768px) {
    .king-banner h1 {
        font-size: 52px;
    }
    
    .king-banner ul li {
        margin: 5px 0 0 0;
        display: block;
    }
}

.king-banner ul li a {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    color: white;
    font-weight: 900;
    letter-spacing: 2px;
    padding-bottom: 3px;
    
    opacity: 0;
}

.king-banner ul li a:hover {
    border-bottom: solid 5px white;
}

/* Meet King contents */
.media {
    max-width: 400px;
    padding: 0px 20px 20px 0;
}

.left-media {
    float: left;
}

.right-media {
    float: right;
}

.vertical-photos img {
    margin-bottom: 25px;
}

.media-row {
    padding-top: 25px;
    padding-bottom: 50px;
}

.meet-king-wrapper h2 {
    font-family: "utopia-std-display", Georgia, serif;
    font-size: 42px;
    font-weight: 600;
}

.meet-king-wrapper section {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 15%;
    padding-right: 15%;
}

.meet-king-wrapper blockquote {
    font-family: 'Lato', serif;
    margin-left: 0;
    padding-left: 0;
    color: white;
    font-size: 32px;
    border-left: none;
    line-height: 1.2;
}

.meet-king-wrapper blockquote citation {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 900;
    letter-spacing: 2px;
    display: block;
    margin-top: 15px;
}

.meet-king-wrapper blockquote.inline-quote {
    font-size: 22px;
    font-style: italic;
    padding: 25px;
    color: #58595b;
}

.meet-king-wrapper section#intro {
    padding-top: 80px;
}

.meet-king-wrapper span.bold-text {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 900;
    letter-spacing: 2px;
}

.meet-king-wrapper section#wanderer {
    padding-top: 0;
    padding-bottom: 950px;
    background: no-repeat center bottom none;
    background-size: 100%;
    background-image: url('http://kkl.soundllp.com/images/meet-king-oxon-paint.jpg');
}

@media (max-width: 1200px) {
    .meet-king-wrapper section#wanderer {
        padding-bottom: 575px;
    }
}

@media (max-width: 768px) {
    .meet-king-wrapper section {
        padding-left: 2%;
        padding-right: 2%;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
    .meet-king-wrapper section#intro {
        padding-top: 40px;
    }
    
    .meet-king-wrapper section#wanderer {
        padding-bottom: 425px;
    }
    
    .meet-king-wrapper blockquote {
        font-size: 26px;
    }
}

.king-banner-content {
    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 150px;
    padding-bottom: 150px;
    text-align: center;
    position: relative;
}

@media (max-width: 768px) {
    .king-banner-content {
        background-attachment: scroll;
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

.kk-leung-sig {
    display: block;
    margin: 1em auto;
    width: 200px;
}

/* King's Values page */
.king-val-hero {
    position: relative;
}

.king-val-question {
    padding-top: 75px;
    padding-bottom: 75px;
    text-align: center;
    /* max-width: 900px; */
    margin: 0 auto;
    min-height: 350px;
    background-repeat: no-repeat;
    background-position: center right;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-image: url('http://kkl.soundllp.com/images/king-val-banner.jpg'); /* 2020 Visionary */
}

#king-val-question-label {
    max-width: 900px;
    display: block;
    margin: 0 auto;
        
    /* transparency on box - may remove */
    background-color: rgba(255, 255, 255, 0.5);
    padding: 30px;
    border-radius: 4px;
}

#king-val-question-label h1 {
    font-family: 'lato',sans-serif;
    text-transform: none;
    font-size: 42px;
    color: #58595b;
    font-weight: 900;
    line-height: 1;
}

@media only screen and (max-width: 40.063em) {
    #king-val-question-label {
        font-size: 32px;
        text-align: center;
    }
    
    #king-val-question-label h1 {
        font-size: 2.3125rem;
    }
}

.king-val-highlights:after {
    clear: both;
}

.king-val-highlights:before, .king-val-highlights:after {
    content: " ";
    display: table;
}

.highlight-box {
    width: 33.33%;
    display: block;
    float: left;
    height: 250px;
    background: no-repeat center center none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}

@media only screen and (max-width: 40.063em) {
    .highlight-box {
        width: 100%;
        float: none;
    }
}

.highlight-box:hover h3 {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
}

.highlight-box h3 {
    font-family: Oswald;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    font-size: 1.7rem;
    margin: 1em 0 1em;
    line-height: 1em;
    font-weight: 300;
    padding: 25px 40px;
    z-index: 2;
    position: absolute;
    bottom: 0;
    color: white;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
}

@media only screen and (max-width: 40.063em) {
    .highlight-box h3 {
        font-size: 1.4375rem;
    }
}

/* Register page */
.register-hero {
    background-color: #000000;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom right;
    background-image: url('http://kkl.soundllp.com/images/king-slay-cropped.png');
}

.register-hide-large {
    display: none;
    width: 100%;
    height: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom right;
    position: relative;
    background-image: url('http://kkl.soundllp.com/images/king-slay-cropped.png');
}

.register-wrapper {
    background-color: #ffffff;
    margin: 4em 0;
    padding: 22px;
    border-radius: 4px;
    box-shadow: 2px 5px 60px 0px rgba(0, 0, 0, 1);
    max-width: 531px;
}

@media only screen and (max-width: 64.063em) {
    .register-hide-large {
        display: block;
    }    
    
    .register-hero {
        background: #000000;
    }
    
    .register-wrapper {
        position: static;
        width: 100%;
        margin: 0;
        background: #ffffff;
        border: none;
        box-shadow: none;
        -webkit-box-shadow: none;
        max-width: none;
    }
}

.register-wrapper h1 {
    text-transform: uppercase;
    font-family: oswald;
    font-weight: normal;
    font-size: 2.3rem;
    line-height: 1.2;
    cursor: default;
    letter-spacing: 0;
    color: #d71920;
    text-align: center;
    padding: 0.2em;
    margin: 0 0 0.5em;
}

.register-wrapper h2 {
    cursor: default;
    color: #58595c;
    font-size: 1.1rem;
    font-weight: 900;
    font-family: Lato;
    text-align: center;
    text-rendering: optimizeLegibility;
    text-transform: none;
}

#register-form input {
    font-size: 1rem;
}

#register-button {
    margin: 0;
    border: none;
    background-color: #d71920;
    color: #fff;
    font-weight: bold;
    white-space: normal;
}

#register-button:hover {
    background-color: #b11116;
}

/* Donate page */
.donate-hero {
    background-image: url('http://kkl.soundllp.com/images/king-donate-bg-wide.jpg');
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;
    min-height: 800px;
    background-color: #f1f2f2;
}

.donate-hide-large {
    display: none;
}

#donate-box {
    float: right;
}

.donate-form-container {
    margin: 40px 0;
    position: relative;
    padding: 30px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.7);
    text-align: left;
    box-shadow: 2px 5px 60px -5px rgba(0, 0, 0, 1);
}

.tax-credits-infobox {
    background: rgba(255, 255, 255, 0.7);
    border: 2px solid #d1d3d4;
    margin: 1rem 0;
    padding: 10px;
}

.tax-credits-infobox p {
    line-height: normal;
    margin: 0;
}

#donate-button {
    font-weight: bold;
    background: none;
    border: 2px solid #d71920;
    color: #d71920;
    float: right;
}

#donate-button:hover {
    background: #d71920;
    color: #ffffff;
}

.donate-form span {
    float: left;
    margin: 5px;
}

@media only screen and (max-width: 40.063em) {
    .donate-hero {
        background: none;
        min-height: 0;
    }
    
    .donate-hide-large {
        display: inherit;
        margin-bottom: -5px;
    }
    
    #donate-box {
        margin: 0;
        padding: 0;
    }
    
    .donate-form-container {
        margin: 0;
        box-shadow: none;
    }
}

/* Thank you page */
.thank-you-title {
    background-color: #3d4f5d;
}

.thank-you-title h1 {
    color: #fff;
    font-size: 2em;
    font-family: Oswald;
    text-transform: uppercase;
    padding: 0.5em 0 0.4em;
    margin: 0;
}

.thank-you-content {
    background-color: #fff;
    padding: 2em 1em 4em;
}

.thank-you-content h3 {
    font-weight: 400;
    font-size: 1.4375rem;
    color: #d71920;
    margin-top: 0.2rem;
    margin-bottom: 1rem;
}

@media only screen and (max-width: 40.063em) {
    .thank-you-content h3 {
        font-size: 1.125rem;
    }
}

.framed {
    line-height: 0;
    display: inline-block;
    border: solid 4px white;
    max-width: 100%;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
    transition: all 200ms ease-out;
}

/* King's Team page */
.team-hero {
    /* background: linear-gradient(45deg, rgba(0, 0, 0, 0.65) 15%, rgba(0, 0, 0, 0) 85%), url('http://kkl.soundllp.com/images/king-law-ball.jpg'); */
    background-image: url('http://kkl.soundllp.com/images/king-law-ball.jpg');
    background-size: cover;
    box-shadow: 0px 0px 150px #000 inset;
    color: #fff;
    background-position: bottom;
    /* min-height: 600px; */
}

@media only screen and (min-width: 75em) {
    .team-hero {
        background-position: center;
    }
}

.team-hero-top {
    padding: 4rem 0;
}

.team-hero-bottom {
    padding-top: 12rem;
    padding-bottom: 4rem;
}

.team-hero h1, .team-hero h2 {
    color: #ffffff;
    text-shadow: 0 0 30px #000000;
}

.team-hero h1 {
    font-family: 'Lato';
    font-weight: 900;
    text-transform: none;
    margin-bottom: 0;
    line-height: 1.1;
}

.team-hero h2 {
    font-family: 'Lato';
    text-transform: none;
}

.team-hero p {
    text-shadow: 2px 2px 10px #000000;
}

@media (min-width: 64rem) {
    .team-hero h1 {
        font-size: 3rem;
    }
    .team-hero h2 {
        font-size: 2rem;
    }
}

.team-hero-bottom .button {
    border: 2px solid #ffffff;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.5);
    margin-bottom: 1rem;
    font-size: 1.4rem;
    font-weight: 900;
}

.team-hero-bottom .button:hover {
    border: 2px solid #d71920;
    color: #d71920;
}

.typed-cursor {
    opacity: 1;
    font-weight: 100;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    -ms-animation: blink 0.7s infinite;
    -o-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
@-webkit-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
@-moz-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
@-ms-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
@-oz-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
