body {
    background: white;
    color: #58595b;
    padding: 0;
    margin: 0;
    font-family: Lato,"Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    font-weight: normal;
    font-style: normal;
    line-height: 150%;
    position: relative;
    cursor: default;
    letter-spacing: -0.03em;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    /* box-sizing: border-box; */
}

a {
    color: #0babe3;
    text-decoration: none;
    line-height: inherit;
}

div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}

ul, ol, dl {
    font-size: 1.1rem;
    line-height: 1.8rem;
    margin-bottom: 1.25rem;
    list-style-position: outside;
    font-family: Lato,sans-serif;
}

#header {
    height: 75px;
    background: #fff;
    background-size: cover;
    border-bottom: 5px solid #d71920;
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}

#header .row {
    height: 70px;
}

.row {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 75em;
}

.row:after {
    clear: both;
}

.row:before, .row:after {
    content: " ";
    display: table;
}

#header ul {
    margin: 0;
}

.header-social {
    list-style: none;
    vertical-align: middle;
    display: inline-block;
    position: relative;
    top: -2px;
    margin-right: 0.5em!important;
}

.header-social .facebook, .header-social .twitter {
    background-color: #a7a9ac;
}

@media only screen and (max-width: 940px) {
    .header-social {
        display: none;
    }
}

#header .left-side {
    padding-left: 0;
    padding-right: 0;
    position: relative;
    width: 41.6667%;
}

#header .left-side ul li {
    width: 33.33%;
    list-style: none;
    float: left;
}

#header .left-side ul li .wrapper p {
    margin: 0;
    font-size: 1em;
    line-height: 1.2em;
    font-weight: 900;
    text-align: center;
}

#header .left-side a:hover>li {
    background-color:rgba(0,0,0,0.05)
}

#header .right-side {
    text-align: right;
    padding-right: 90px;
    padding-left: 0;
    position: relative;
    width: 41.6667%;
    padding-top: 4px;
}

@media only screen and (max-width: 730px) {
    #header .left-side, #header .right-side {
        width: 38%;
    }
}

@media only screen and (max-width: 500px) {
    #header .left-side, #header .right-side {
        width: 35%;
    }
}

#header .wrapper {
    height: 70px;
    width: 600px;
    display: table-cell;
    vertical-align: middle;
}

@media only screen and (max-width: 730px) {
    .mobile-hide {
        display: none;
    }
}

@media only screen and (min-width: 730px) {
    .mobile-show {
      display: none!important;
    }
}

.text-center {
    text-align: center !important;
}

#header a {
    border-bottom: none;
    color: #d71920;
}

#header .home-link div {
    background-color: #d71920;
}

#header .home-link:hover div {
    background-color: #b11116;
}

#header .middle {
    height: 100%;
    text-align: center;
    padding: 1em 1em 0;
    position: relative;
    width: 16.6667%;
}

@media only screen and (max-width: 730px) {
    #header .middle {
        width: 22%;
    }
}

@media only screen and (max-width: 500px) {
    #header .middle {
        width: 28%;
    }
}

@media only screen and (min-width: 64.063em) {
    .column, .columns {
        position: relative;
        padding-left: 1em;
        padding-right: 1em;
        float: left;
    }
}

@media only screen and (min-width: 40.063em) {
    .column, .columns {
        position: relative;
        padding-left: 0.9375em;
        padding-right: 0.9375em;
        float: left;
    }
}

/* columns */
.column, .columns {
    position: relative;
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    float: left;
}

.column, .columns {
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    width: 100%;
    float: left;
}

.main-content-wrapper {
    background: white;
    padding: 0 75px 3em;
}

#header .left-side ul li {
    width: 33.33%;
    list-style: none;
    float: left;
}

#header .right-side a {
    margin: 0 0.4em;
    font-weight: 900;
    font-size: 1.1em;
}

/* banner */
.banner-image {
    min-height: 400px;
    background-image: url('/images/king-hero.jpg');
    background-position: top right;
    background-size: cover;
}

@media only screen and (max-width: 500px) {
    .banner-image {
        /* background-position-x: 40em; */
    }
}

#banner-wrapper {
    /* background-color: #ffffff; */
    padding: 22px;
    /* margin: 25px auto 0 auto; */
    /* border-radius: 4px; */
    position: relative;
    top: 3em;
    /* box-shadow: 2px 5px 60px 0px rgba(0, 0, 0, 1); */
    max-width: 529px;
    text-align: center;
}

@media only screen and (max-width: 500px) {
    #banner-wrapper {
        top: 5em;
    }
}

/* Open Movement in Flavelle */
#banner-wrapper h1 {
    text-transform: uppercase;
    font-family: oswald;
    font-size: 3rem;
    line-height: 1.2;
    cursor: default;
    letter-spacing: 0;
    color: #ffffff;
    text-align: center;
    padding: 0.2em;
    /* margin: 0 0 0.5em; */
    font-weight: 400;
    text-shadow: 2px 5px 60px rgba(0, 0, 0, 1);
}

/* Be a part of the most... */
#banner-wrapper h1:first-of-type {
    font-weight: 300;
    font-size: 2.3rem;
}

@media only screen and (max-width: 500px) {
    #banner-wrapper h1 {
        font-size: 2.5rem;
    }
    
    #banner-wrapper h1:first-of-type {
        font-size: 1.8rem;
    }
}

#stand-with-king {
    margin: 1.25rem;
}

.content-button {
    margin: 0;
    font-size: 1.1rem;
    font-weight: 900;
    font-family: Lato;
    background: #d71920;
    color: #fff !important;
    border: 2px solid #d71920 !important;
    letter-spacing: -0.02em;
    padding: 0.4em 0.6em;
    border-radius: 3px;
    border-color: #fff;
    display: inline-block;
}

.content-button:hover {
    background: none;
    border: 2px solid #d71920 !important;
    text-shadow: 0px 0px;
}

/* footer */
#new-day-for-flavelle {
    background: #58595c;
    font-size: 0.8em;
    color: #d1d3d4;
    line-height: 1.3em;
    padding: 20px 0;
    width: 100%;
    margin-top: 0.2em;
}

#new-day-for-flavelle > .row {
    max-width: 1200px;
}

.text-left {
    text-align: left !important;
}

@media only screen and (min-width: 40.063em) {
    .medium-2 {
        width: 16.66667%;
    }
}

@media only screen and (min-width: 40.063em) {
    .medium-8 {
        width: 66.66667%;
    }
}

#new-day-for-flavelle .logo {
    width: 150px;
    margin-right: 15px;
    margin-bottom: 10px;
}

#new-day-for-flavelle a {
    color: #fff;
    border-bottom: none;
}

#new-day-for-flavelle a:hover {
    color: #a7a9ac;
}
